<h3>Introduction</h3>

<p>While the default table tools are very easy to use, they are 
provide a very limited range of options compared with other
real-time editors.  This macro tries to extend the default
functionality to include some commonly requested features.</p>

<p>The Table and Column Width uses javascript to set the width
of the table and it's columns once the page has been rendered.
</p>

<p><strong>The javascript will only be applied when viewing the page, not editing it.</strong></p>

<h3>Parameters</h3>
<p><strong>Table Width</strong>: Sets the width of the table.  The value will be
inserted into the html table element's width attribute.  Example: 90% or 400px.</p>
<p><strong>Column Widths</strong>: A comma separated list of the desired column
widths.  Example, 100px,200px or 80%,20%</p>
<p><strong>Row</strong>: As the top row may have merged cells, this parameter determines
which row the column width attributes will be added into.</p>
<p><strong>Hide Borders</strong>: If checked, a stylesheet rule will be applied to suppress the
table and cell borders so that no grid lines are visible.  <p>
