.credentials-container{
   margin-bottom: 20px;
}

.credentials-column{
   float: left;
}

div.credentials-column .code-include-remove{
   margin-top: 5px;
   margin-left: 20px;
}

.help-dialog {
   z-index: 3500 !important;
}

.keysight-faq-link-table {
    padding: 5px;
    width: 100%
}

.confluenceTable ul.keysight-faq-link-table-label-list {
    padding-left: 0px;
}

.keysight-page-info-label {
    padding: 1px 5px !important;
}

.keysight-like-it-cell {
    width: 25px;
}

.keysight-popularity-contest-body table.confluenceTable,
.keysight-popularity-contest-body table.confluenceTable td,
.keysight-popularity-contest-body table.confluenceTable th
{
   border: 0;
}
